.body{
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
}

.logo {
    font-size: 24;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}